.view-menu-mobile {
	transform: translate(-200vw, 0);
	transition: all 0.3s linear;
}
.view-menu-mobile.active {
	transform: translate(0, 0);
}

.container-navbar {
	background-color: rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 767px) {
	.container-navbar {
		background-color: rgba(0, 0, 0, 0.6);
	}
}

.search-input {
	outline: none;
	flex-basis: 1;
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid #fff;
}
